/*
une green: #7ab800
dark grey: #4c4c4c
light grey: #e9e8e6

*/

/* body font settings */
body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-size: 1rem;
  color: #000;
  background-color: #4c4c4c;
}

textarea {
  height: 150px;
}

nav {
  height: 75px;
}
.nav-wrapper{
  background-color: #7ab800;
  height: 75px;
}

.container{
  background-color: #e9e8e6;
  padding: 20px;
  margin-top: 20px;
}

.btn-primary {
  color: #ffffff;
  background-color: #7ab800;
  border-color: #7ab800;
  transition: color 10ms, background-color 10ms, border-color 10ms;
}

.btn-primary:hover {
  color: #7ab800;
  background-color: #ffffff;
  border-color: #7ab800;
  box-shadow:  0 3px 5px #888;
}

.btn-primary:active {
  color: #ffffff;
  background-color: #7ab800;
  border-color: #7ab800;
  box-shadow: #7ab800;
}
/* wrapper */

/* .wrapper {
  /*margin: 0 auto; 
  float: left;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 1%;
  overflow: auto;
  background-color: #e9e8e6;
}

.boxClass {
  float: left;
} */